[submodule "tmux/plugins/tmux-fzf-url"]
	path = tmux/plugins/tmux-fzf-url
	url = https://github.com/builtbybuffer/tmux-fzf-url.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
